<main>
    <nav class="bg-light border-bottom border-1 border-dark" style="display: flex; flex-direction:row; justify-content: space-between">
                <div style="width: 10%; display:flex; justify-content: flex-start;align-items:center;">
                    <a href="/trips" class="btn">
                        <button type="button" name="back_button" id="back_button" class="btn">
                            <img src="/public/images/back-button.png" alt="Back Button">
                        </button>
                    </a>
                </div>
                <div class="col-6">
                    <h1 style="text-align: center;">Trip to {{trip.destination}}</h1>
                    <p style="text-align: center;">{{trip.month}} {{trip.start_day}} - {{trip.end_day}} {{trip.year}}</p>
                    <p style="text-align: center;">{{trip.flights}} Flights | {{trip.hotel_stays}} Hotel Stays | {{trip.activities}} Activities</p>
                </div>
                <div style="width: 10%; display:flex; justify-content: flex-end;align-items:center">
                            <a href="/trips/edit/{{trip.id}}">
                        <button type="button" style="text-align: center;" name="edit_trip" id="edit_trip" class="btn">
                            <img src="/public/images/edit.png" alt="Edit Trip">
                            <p>Edit</p>
                        </button>
                    </a>
                </div>
                
    </nav>
    {{#if selection_date_exists}}
    <div class="row border">
        <div class="col-12 my-2 mx-3">
            <a href="/activities/{{trip.id}}/">
                <button type="button" class="btn btn-primary btn-circle">All</button>
            </a>
            {{#each selection_date}}
            <a href="/activities/{{../trip.id}}/{{this}}">
                <button type="button" class="btn btn-primary btn-circle">{{this}}</button>
            </a>
            {{/each}}
        </div>
    </div>
    {{else}}
    {{#unless selection_date_exists}}
        <h2 class="text_activity">Add an activity to your trip by clicking the button below!
            <br> Here you will be able to update any activities related to 
            <br> your trips which will be helpful for future reference!
        </h2>
    {{/unless}}
    <br>
    {{/if}}
    <table class="table" id="sortThis">
        {{#each activities}}
        <tr>
            {{#if flight}}
            <td style="display: none;">{{info.departure_date}}</td>
            {{else if hotel_stay}}
            {{#if info.start_date}}
            <td style="display: none;">{{info.start_date}}</td>
            {{else if info.end_date}}
            <td style="display: none;">{{info.end_date}}</td>
            {{/if}}
            {{else if tour_event}}
            <td style="display: none;">{{info.start_date_time}}</td>
            {{else if bus_boat}}
            <td style="display: none;">{{info.depart_date_time}}</td>
            {{/if}}
            <td>
                <a href="/activities/edit/{{../trip.id}}/{{id}}">
                    <div class="row">
                        <div class="col-3" style="align-items: center; justify-content: center; display: flex;">
                            <img src="{{info.image_src}}" alt="type_icon">
                        </div>
                        <div class="col-9 border-start">
                            {{#if flight}}
                            <h1>{{info.departure_airport}} - {{info.arrival_airport}}</h1>
                            <p>Departs: {{info.depart_date_time}}</p>
                            <p>Arrives: {{info.arrives_date_time}}</p>
                            <p>Flight {{info.flight_number}}</p>
                            <p>Confirmation: {{info.confirmation_number}}</p>

                            {{else if hotel_stay}}
                            <h1>Stay at {{info.hotel_name}}</h1>
                            {{#if info.start_date}}
                            <p>Starts: {{info.start_date}}</p>
                            {{else if info.end_date}}
                            <p>Ends: {{info.end_date}}</p>
                            {{/if}}
                            <p>{{info.address}}</p>
                            <p>Confirmation: {{info.confirmation_number}}</p>

                            {{else if tour_event}}
                            <h1>Tour of {{info.name}}</h1>
                            <p>Starts: {{info.start_date_time}}</p>
                            <p>{{info.address}}</p>
                            <p>Confirmation: {{info.confirmation_number}}</p>

                            {{else if bus_boat}}
                            <h1>Ride from {{info.company}}</h1>
                            <p>Departs: {{info.depart_date_time}}</p>
                            <p>Arrives: {{info.arrives_date_time}}</p>
                            <p>Number: {{info.number}}</p>
                            <p>Confirmation: {{info.confirmation_number}}</p>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
    <div class "container" style="text-align:center;">
    <a href="/activities/add/{{trip._id}}/flight" class="btn btn-danger btn-lg mx-2" style="text-align: center;">
                <div style="display: flex; justify-content:center; align-items:center;">
                <img src="/public/images/add_button.png" alt="add_trip">
                <p style="margin-bottom: 0px; margin-left: 8px;">
                Add New Activity
                </p>
                </div>
        </a>
    </div>
</main>
<br>
<br>
<footer class="footer mt-auto bg-danger">
    <h2 class="text-center" style="color: azure;">Lets plan your vacation!</h2>
</footer>