<main>
    <nav class="navbar navbar-light bg-light border-bottom border-1 border-dark">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/activities/{{trip_id}}" class="btn">
                        <button type="button" name="back_button" id="back_button" class="btn">
                            <img src="/public/images/back_button.png" alt="back_button">
                        </button>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"></li><h1 class="center">New Activity</h1></li>
            </ul>
        </div>
    </nav>
    <br>
    <center>
        <div class="btn-group" role="group">
            <a href="/activities/add/{{trip_id}}/flight" class="btn-group">
                {{#if flight}}
                <button type="button" name="flight" id="flight" class="btn btn-primary active">Flight</button>
                {{else}}
                <button type="button" name="flight" id="flight" class="btn btn-primary">Flight</button>
                {{/if}}
            </a>

            <a href="/activities/add/{{trip_id}}/hotel_stay" class="btn-group">
                {{#if hotel_stay}}
                <button type="button" name="hotel_stay" id="hotel_stay" class="btn btn-primary active">Hotel Stay</button>
                {{else}}
                <button type="button" name="hotel_stay" id="hotel_stay" class="btn btn-primary">Hotel Stay</button>
                {{/if}}
            </a>

            <a href="/activities/add/{{trip_id}}/tour_event" class="btn-group">
                {{#if tour_event}}
                <button type="button" name="tour_event" id="tour_event" class="btn btn-primary active">Tour/Event</button>
                {{else}}
                <button type="button" name="tour_event" id="tour_event" class="btn btn-primary">Tour/Event</button>
                {{/if}}
            </a>

            <a href="/activities/add/{{trip_id}}/bus_boat" class="btn-group">
                {{#if bus_boat}}
                <button type="button" name="bus_boat" id="bus_boat" class="btn btn-primary active">Bus/Boat</button>
                {{else}}
                <button type="button" name="bus_boat" id="bus_boat" class="btn btn-primary">Bus/Boat</button>
                {{/if}}
            </a>
        </div>
        <br><br>
        {{#if flight}}
            <form action="/activities/{{trip_id}}/flight" method="POST">
                <label>
                    Airline:
                    <input type="text" id="airline" name="airline" placeholder="Ex: United" class="form-control">
                </label>
                <br><br>
                <label>
                    Departure:
                    <div class="input-group">
                        <input type="date" id="departure_date" name="departure_date" value={{today}} class="form-control">
                        <input type="text" id="departure_airport" name="departure_airport" placeholder="Airport" class="form-control">
                    </div>
                    <div class="input-group">
                        <input type="time" id="departure_time" name="departure_time" class="form-control">
                        <input type="text" id="departure_time_zone" name="departure_time_zone" placeholder="Time Zone" class="form-control">
                    </div>
                </label>
                <br><br>
                <label>
                    Arrival:
                    <div class="input-group">
                        <input type="date" id="arrival_date" name="arrival_date" value={{tomorrow}} class="form-control">
                        <input type="text" id="arrival_airport" name="arrival_airport" placeholder="Airport" class="form-control">
                    </div>
                    <div class="input-group">
                        <input type="time" id="arrival_time" name="arrival_time" class="form-control">
                        <input type="text" id="arrival_time_zone" name="arrival_time_zone" placeholder="Time Zone" class="form-control">
                    </div>
                </label>
                <br><br>
                <label>
                    Flight Number:
                    <input type="text" id="flight_number" name="flight_number" class="form-control">
                </label>
                <br><br>
                <label>
                    Confirmation Number:
                    <input type="text" id="confirmation_number" name="confirmation_number" class="form-control">
                </label>

        {{else if hotel_stay}}
            <form action="/activities/{{trip_id}}/hotel_stay" method="POST">
                <label>
                    Hotel Name:
                    <input type="text" id="hotel_name" name="hotel_name" placeholder="Ex: Hilton" class="form-control">
                </label>
                <br><br>
                <label>
                    Start Date:
                    <input type="date" id="start_date" name="start_date" value="{{today}}" class="form-control">
                </label>
                <br><br>
                <label>
                    End Date:
                    <input type="date" id="end_date" name="end_date" value="{{tomorrow}}" class="form-control">
                </label>
                <br><br>
                <label>
                    Address:
                    <input type="text" id="address" name="address" class="form-control">
                </label>
                <br><br>
                <label>
                    Confirmation Number:
                    <input type="text" id="confirmation_number" name="confirmation_number" class="form-control">
                </label>

        {{else if tour_event}}
            <form action="/activities/{{trip_id}}/tour_event" method="POST">
                <label>
                    Name:
                    <input type="text" id="name" name="name" class="form-control">
                </label>
                <br><br>
                <label>
                    Start Time:
                    <div class="input-group">
                        <input type="date" id="start_date" name="start_date" value="{{today}}" class="form-control">
                        <input type="time" id="start_time" name="start_time" class="form-control">
                    </div>
                </label>
                <br><br>
                <label>
                    Address:
                    <input type="text" id="address" name="address" class="form-control">
                </label>
                <br><br>
                <label>
                    Confirmation Number:
                    <input type="text" id="confirmation_number" name="confirmation_number" class="form-control">
                </label>

        {{else if bus_boat}}
            <form action="/activities/{{trip_id}}/bus_boat" method="POST">
                <label>
                    Company:
                    <input type="text" id="company" name="company" class="form-control">
                </label>
                <br><br>
                <label>
                    Departure:
                    <div class="input-group">
                        <input type="date" id="departure_date" name="departure_date" value={{today}} class="form-control">
                        <input type="time" id="departure_time" name="departure_time" class="form-control">
                    </div>
                </label>
                <br><br>
                <label>
                    Arrival:
                    <div class="input-group">
                        <input type="date" id="arrival_date" name="arrival_date" value={{tomorrow}} class="form-control">
                        <input type="time" id="arrival_time" name="arrival_time" class="form-control">
                    </div>
                </label>
                <br><br>
                <label>
                    Number:
                    <input type="text" id="number" name="number" class="form-control">
                </label>
                <br><br>
                <label>
                    Confirmation Number
                    <input type="text" id="confirmation_number" name="confirmation_number" class="form-control">
                </label>
        {{/if}}
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}
    </center>
</main>
            <footer class="footer mt-auto py-3 bg-primary">
                <div class="d-grid">
                    <button type="submit" name="add_activity" id="add_activity" class="btn btn-primary btn-lg mx-2">Add Activity</button>
                </div>
            </footer>
        </form>
    