<main>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto"  style="width: 10%">
                <li class="nav-item">
                </li>
            </ul>
            <ul class="nav nav-pills">
                <li class="nav-flex"><h1>TREEPS (Travel, Eat, Repeat)</h1></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/profile" class="btn">
                        <button type="button" name="profile" id="profile" class="btn" style=""><img src="/public/images/users_2.png" alt="Profile Imgage"></button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {{#if user}}
    <h2 class="h2" style="margin: 14px;">Welcome {{user}}, happy to have you here!</h2>
    <p class="paragraph">Feel free to plan/schedule your trips. Hope you enjoy the website and plan trips successfully.
        <br> We hope you have a pleasant trip and share your experiences with others. Be healthy, Be Safe! 
    </p>
    {{/if}}
    <br>
    <div style="display: flex; justify-content:space-around; margin-left: 20%; margin-right: 20%;">
        <a href="/trips/add" >
            <button type="button" class="btn btn-danger btn-lg "name="add_new_trip" id="add_new_trip" class="btn btn-primary btn-lg mx-2">
                <div style="display: flex; justify-content:center; align-items:center;">
                <img src="/public/images/add_button.png" alt="add_trip">
                <p style="margin-bottom: 0px; margin-left: 8px;">Add New Trip</p>
                </div>
            </button>
        </a>
        <a href="/trips/explore" >
            <button type="button" class="btn btn-danger btn-lg "name="add_new_trip" id="add_new_trip" class="btn btn-primary btn-lg mx-2">
                <div style="display: flex; justify-content:center; align-items:center;">
                <p style="margin-bottom: 0px; margin-left: 8px;">View Suggestions</p>
                </div>
            </button>
        </a>
    </div>
    <br>
    <div class="row">
            {{#each trips}}
            <div class="column">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem; row justify-content-center align-self-center">
                    <p style="display: none;">{{month}}-{{start_day}}-{{year}}</td>
                    <a href="/activities/{{_id}}" class="treeps">
                    <div class="row">  
                        <div class="trip-info">
                            <span class="icon"></span>
                            <img src="/public/images/travel.png" alt="travel"style="width:80px;height:80px; row justify-content-center align-self-center">
                            <h2>Trip to {{destination}}</h2>
                            <p>{{month}} {{start_day}} - {{end_day}} {{year}}</p>
                            <p>{{flights}} Flights | {{hotel_stays}} Hotel Stays | {{activities}} Activities</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        <br>
        {{/each}}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-danger">
    <h2 class="text-center" style="color: azure;">Lets plan your vacation!</h2>
</footer>